<ion-header [translucent]="true">
 

</ion-header>
<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Welcome to túp lều ma thuật</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Bạn có thể lựa chọn thể loại:</h1>
    <button routerLink="/get-infor-user"  class="bt1"> 12 Cung hoàng đạo </button>
    <button class="bt1"> Bài Tarot </button>
   <div><img src="./assets/images/roses_are_roies_67761443_513783732528403_7176422795677672547_n.jpg" alt="pháp sư australia"></div> 
  </div>
  <div>
    <H1>This is Thầy của các bạn!</H1>
  </div>
<input [ngModel]="" type="text">
</ion-content>

